body{
    margin-left: 5%;
    margin-right: 5%;
    font-family: 'Playball', cursive;
}

header{
    text-align: center;
    font-size: 20px;
}

#nav, a{
    padding: 1%;
    text-align: center;
}

#HomePage:hover{
    background: Black;
    color: whitesmoke;
}

#Books:hover{
    background: crimson;
    color: whitesmoke;
}

#Music:hover{
    background-color: deepskyblue;
}

#Projects:hover{
    background-color: greenyellow;
}

#pageName{
    background-color: black;
    color: whitesmoke;
    padding: 1%;
}


#content{
    margin-top: 10px;
    text-align: center;
}

a{
    color: black;
    text-decoration: none;
    font-size: 24px;
    font-family: 'Signika', sans-serif;
}

#first{
    border: 2px solid black;
    padding: 1%;
    box-shadow: 8px 8px 8px dodgerblue;
}

#first:hover{
    background-color: dodgerblue;
    box-shadow: 8px 8px 8px black;
}

#blog2{
    border: 2px solid black;
    padding: 1%;
    box-shadow: 8px 8px 8px green;
}

#blog2:hover{
    background-color: green;
    box-shadow: 8px 8px 8px black;
}
